In [2]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv")

df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [3]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

In [5]:
aliciaprefiere = df_airbnb[
    (df_airbnb['accommodates'] >= 4) &  
    (df_airbnb['bedrooms'] >= 2) &  
    (df_airbnb['reviews'] > 10) &  
    (df_airbnb['overall_satisfaction'] > 4.0) 
]


aliciaprefiere = aliciaprefiere.sort_values(
    by=['overall_satisfaction', 'reviews'],
    ascending=[False, False]
)


resultados = aliciaprefiere.head(3)

print(resultados[['room_id', 'neighborhood', 'room_type', 'accommodates', 'bedrooms', 'reviews', 'overall_satisfaction', 'price']])

     room_id       neighborhood        room_type  accommodates  bedrooms  \
120   176153       Misericórdia  Entire home/apt             4       2.0
16     44043  Santa Maria Maior  Entire home/apt             7       3.0
140   202150  Santa Maria Maior  Entire home/apt             4       2.0

     reviews  overall_satisfaction  price
120      438                   5.0  102.0
16       316                   5.0   80.0
140      274                   5.0   62.0

In [10]:
import pandas as pd

ids_roberto = [97503]
ids_clara = [90387]

robertoExcel = df_airbnb[df_airbnb['room_id'].isin(ids_roberto)]
claraExcel = df_airbnb[df_airbnb['room_id'].isin(ids_clara)]

archivo = pd.concat([robertoExcel, claraExcel])

archivo.to_excel("roberto.xls", index=False, engine='openpyxl')

In [11]:
import pandas as pd

shared_rooms = df_airbnb[(df_airbnb['room_type'] == 'Shared room') & (df_airbnb['price'] <= 50)]

sorted_shared_rooms = shared_rooms.sort_values(by=['price', 'overall_satisfaction'], ascending=[True, False])

top_10_shared_rooms = sorted_shared_rooms.head(10)

print(top_10_shared_rooms[['room_id', 'host_id', 'room_type', 'neighborhood', 'price', 'overall_satisfaction']])

        room_id    host_id    room_type       neighborhood  price  \
1010    1179457    5799522  Shared room      Santo António   10.0
3562    5557699   28812904  Shared room  Santa Maria Maior   10.0
7584   13116032   72951043  Shared room            Arroios   10.0
13148  19314160  135270245  Shared room        Santa Clara   10.0
9065   14933182   91501272  Shared room      Santo António   11.0
4353    6728244   28812904  Shared room  Santa Maria Maior   11.0
5616    9317561   48360716  Shared room            Arroios   11.0
6640   11693356   28812904  Shared room  Santa Maria Maior   11.0
6641   11693442   28812904  Shared room  Santa Maria Maior   11.0
8908   14708916   91501272  Shared room      Santo António   11.0

       overall_satisfaction
1010                    4.0
3562                    4.0
7584                    0.0
13148                   0.0
9065                    5.0
4353                    4.5
5616                    4.5
6640                    4.5
6641                    4.5
8908                    4.5